.header {
    position: fixed;
    top: 0;
    z-index: 1; //set z-index to keep on top of other page elements.
    width: 100%;
    height: 75px;
    background: $dark-blue;
    border-bottom: 4px solid $dark-gray;
}

.header-nav{
    list-style: none;
    padding: 0;
    text-align: center;
    li{
        display: inline-block;
        position: relative;
        vertical-align: top;
        min-width: 100px;
        a{
            display: inline-block;
        }
        .logo-block{
            position: absolute;
            top: 0;
            left: 50%;
            width: 110px;
            height: 110px;
            margin-left: -55px;
            border-bottom: 6px solid $mid-dark-gray;
            background: $mid-light-gray;
        }
        &:first-child{
            padding-right: 2em;
        }
        &:last-child{
            padding-left: 2em;
        }
        .header-nav-link{
            color: $white;
            font-size: 1.6em;
            font-weight: 200;
            letter-spacing: 4px;
            text-transform: uppercase;
            padding-top: 1.1em;
        }
    }
}
