
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


$dark-blue: #323b40;
$light-blue: #0071bc;
$white: #f2f2f3;
$off-white: #e6e6e6;
$dark-gray: #333435;
$mid-gray: #9a9a9a;
$light-gray: #dbdbdb;

$logo-gray_light: #808080;
$logo-gray_dark: #666666;

body{
    font-family: "helvetica", arial, sans-serif;
    background: $off-white;
}

/* Custom page header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: $dark-blue;
    border-bottom: 4px solid $dark-gray;
    height: 75px;
}

.header-nav{
    list-style: none;
    padding: 0;
    text-align: center;
    li{
        display: inline-block;
        position: relative;
        vertical-align: top;
        min-width: 100px;
        a{
            display: inline-block;
        }
        .logo-block{
            position: absolute;
            top: 0;
            left: 50%;
            width: 100px;
            height: 110px;
            margin-left: -50px;
            border-bottom: 6px solid $logo-gray_dark;
            background: $logo-gray_light;
        }
        .header-nav-link{
            color: $white;
            font-size: 1.6em;
            font-weight: 200;
            letter-spacing: 4px;
            padding: 1.1em 1.3em 0 1.3em;
        }
    }
}

.lead{
    padding-top: 75px; // account for fixed header
    background: $light-blue;
    .lead-title, .lead-copy{
        color: $white;
    }
    .lead-title{
        margin-top: 25%;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
