$dark-blue: #323b40;
$light-blue: #0071bc;
$white: #f2f2f3;
$off-white: #e6e6e6;
// this is too many grays. refactor to use darken()/lighten() .
$light-gray: #dbdbdb;
$mid-light-gray: #808080;
$mid-gray: #9a9a9a;
$mid-dark-gray: #666666;
$dark-gray: #333435;
